* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%;
 font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    margin-top: 20px;
}
.header h1{
    color: #1470AF;
    font-size: 40px;
}
.header img{
    width: 400px;
}
.header nav{
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: #1470AF;
    margin: 40px 0px;
}
.header nav a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    padding: 15px;
}

.content{
    width: 100%;
    min-height: 100vh;
}

.content .buttons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;  
    width: 100%; 
}
.button-row{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;    
    margin-bottom: 40px;
}
.button-row button{
    background-color: #8EB6DC;
    color: #fff;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.section-grid{
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.section-grid h2{
    width: 100%;
    text-align: center;
}




footer{
    height: 50px;
    background-color:#1470AF;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}